.emsomos {
    text-align: center;
    text-indent: 50px;
    letter-spacing: 5px;
 
  }

 .h1somos {
    font-size:1050%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 } 

 .psomos{
    font-size: 200%;
 }