.div{
    font-family: 'Montserrat';
    margin: 24px 0;

}


.input{
    width: 930px;
    height: 80px;
    left: 260px;
    top: 786px;
    
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 30px 20px;
    outline-color: #6278f7;
    font-size: 16px;
}

.label{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

/* identical to box height */
display: flex;
align-items: center;

color: #212121;
margin-bottom: 8px;
}

.campo{
    height: 40px;
    padding: 5px 20px;
}